body {
  background-color: #131314;
  color: white;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  max-width: 900px;
  position: relative;
}

/* Hamburger Menu */
.hamburger {
  position: relative;
  font-size: 24px;
  cursor: pointer;
  color: #6ec1e4;
  left: -700px;
  margin-top: 30px;
}

.title {
  color: #6ec1e4;
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  /* background-color: #282828; */
  background-color:#1F2235;
  width: 270px;
  height: 160px;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50PX;
}
.chrome-button1 {
  background-color: #6ec1e4;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.className{
  padding-bottom: 20px;
}
.card1 {
  /* background-color: #282828; */
  background-color:#1F2235;
  margin-top: 50PX;
  width: 430px;
  height: 160px;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  /* mix-blend-mode: multiply; */
  mix-blend-mode: screen;
  filter: invert(2);
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.card-text {
  font-size: 20px;
  color: #ccc;
  padding-right: 180px;
  letter-spacing: 1px;
  position: absolute;
  margin-bottom: 70px;
}

.icon1 {
  width: 120px;
  height: 120px;
  margin-top: px;
  margin-left: 240px;
  mix-blend-mode: multiply;
  mix-blend-mode: screen;
  filter: invert(2);
}
.chrome-button2 {
  background-color: #6ec1e4;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-right: 170px;
}
.chrome-card {
  background-color:#1F2235;
  width: 750px;
  height: 230px;
  margin-top: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 20px;
}
.chrome-icon {
  width: 350px;
  height: 250px;
  margin-right: 20px;
  padding-left: 40px;
  mix-blend-mode: multiply;
}

.chrome-content {
  text-align: left;
}

.chrome-text {
  font-size: 20px;
  color: #ccc;
  margin-bottom: 50px;
  padding-left: 50px;
  letter-spacing: 1px;
}

.chrome-button3 {
  background-color: #6ec1e4;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin-left: 80px;
  cursor: pointer;
}
